#recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  #no-recipes {
      display: flex;
      background-color: #FFCCCC;
      padding: 20px;
      border-radius: 8px;	
      margin-top: 44px;
  }
  